SECRET_KEY=django-insecure-CHANGE-IN-PROD-50chars+
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=markethub_db
DB_USER=markethub_user
DB_PASSWORD=strongpassword
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_S3_REGION_NAME=us-east-1
AWS_STORAGE_BUCKET_NAME=markethub-media

RATE_LIMIT_AUTH_WINDOW=10
FIELD_ENCRYPTION_KEY=generate-with-fernet

SENTRY_DSN=https://xxx@o0.ingest.sentry.io/xxx
OTEL_EXPORTER_OTLP_ENDPOINT=http://tempo:4317
